/* Navigation */
nav{
    
}
nav ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1e3741;
}
nav ul.tab li {float: left; background:#4b5f67;margin-right: 2px;}
nav ul.tab li a {
    display: inline-block;
    color: #94a5a5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
nav ul.tab li a:hover {background-color: #607b85;text-decoration: underline;}
nav ul.tab li a:focus, .active {background-color: #1e3741;color:#fff !important}

nav .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
nav .tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

 /* Navigation Fade keyframe */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* body */
html{
    height:100%;
}
body{
    background: #1e3741;
    border:1px solid #295a68;
    height:100%;
}
main section{
    float: left;
    position: relative;
    width: 676px;
}
main section .wrapper{
    float: left;
    position: relative;
    width:100%;
    margin:20px 0;
}
main .news.left-aligned{
    float: left;
    position: relative;
    width: 49%;
    margin-right: 1%;
}
main .news ul{
    list-style: none;
    margin:0;
    padding:0;
}
main .news ul li{
    float: left;
    position: relative;
    width: 97%;
    padding-left: 16px;
    min-height: 35px;
    line-height: 35px;
    cursor: pointer;
    border-bottom: 1px solid #3a4f58;
    
}
main .news ul li.active{
    background: #00968c;
    
}
main .news ul li.active a{
    color:#fff;
}
main .news ul li a{
    color: #92a5b1;
    text-decoration: none;
    text-indent: 15px;
}

main .video.right-aligned{
    float: left;
    position: relative;
    width:50%;
}